<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- START FORM -->
    <div class="container">
        <form action='/result' method='POST'>
            <div class="form-group">
                <label for="nameFormInput">Your name: </label>
                <input type="text" class="form-control" id="nameFormInput" placeholder='your name' name='Name'>
            </div>
            <div class="form-group">
                <label for="locationFormInput">Dojo Location: </label>
                <select class="form-control" id="locationFormInput" name='City'>
                    <option value="San Jose">San Jose</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Seattle">Seattle</option>
                    <option value="Los Angeles">Los Angeles</option>
                    <option value="Boise">Boise</option>
                </select>
            </div>
            <div class="form-group">
                <label for="favLangFormInput">Favorite Language</label>
                <select class="form-control" id="favLangFormInput" name='Language'>
                    <option value="Python">Python</option>
                    <option value="C#">C#</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="Java">Java</option>
                    <option value="Ruby">Ruby</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Comment</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name='Comment'></textarea>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
    <!-- END FORM  -->
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous'></script>
</body>

</html>